/* Body Styling */
body {
    font-family: Arial;
    background-color: #fff
}

/* Heading Styling */

h1, h3 {
    font-family: Geneva;
}

/* Article Styling */

article {
    background: linear-gradient(grey, white);
}

/* Header Styling */

header {
    background-image: url(https://images.unsplash.com/photo-1470125634816-ede3f51bbb42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3Vuc2V0JTIwcGFub3JhbWF8ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    color: #fff;
}

/* Link Styling */

a {
    color: lightseagreen;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}